/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

a {
	text-decoration: none;
	color: black;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.modifyPortfolio {
	display: flex;
	padding: 6em 0 4em;
	justify-content: center;
	align-items: baseline;
	gap: 45px;
}

.btnModify {
	display: none;
	font-size: 16px;
	gap: 10px;
}

.filter {
	width: 42%;
	margin: auto;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;
}

.filter button {
	color: #1D6154;
	background-color: white;
	border-radius: 60px;
	border: solid 1px #1D6154;
	padding: 5px 10px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 500;
}

.filter button:hover {
	color: white;
	background-color: #1d6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
	background-color: white;
	width: 35%;
	min-height: 80%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

#modal-close {
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: transparent;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

.modalAddPhoto {
	background-color: white;
	width: 30%;
	height: 70%;
	border-radius: 10px;
	display: none;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 25px;
	cursor: pointer;
}

.modalAddPhoto .fa-xmark {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 25px;
	cursor: pointer;
}

.fa-image {
	font-size: 6em;
	color: #CBD6DC;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	height: 80%;
	gap: 10px;
}

.previewContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	gap: 10px;
	background-color: #E8F1F6;
	margin-bottom: 30px;
}

.previewContainer label {
	background-color: #CBD6DC;
	border-radius: 30px;
	padding: 1em 2.8em;
	cursor: pointer;
}

.previewContainer input {
	display: none;
}

.previewContainer img {
	display: none;
	max-width: 100%;
	height: 100%;
}

#title, #category {
	font-family: 'Syne';
	font-size: 16px;
	width: auto;
    height: 50px;
	padding-left: 10px;
    margin-top: 7px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.greyBorder {
	border-bottom: solid 2px #d0d0d0;
}


.galleryPhoto {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-row-gap: 20px;
	grid-column-gap: 10px;
	margin: 40px 80px 0px 80px;
	padding-bottom: 30px;
	border-bottom: solid 2px #d0d0d0;
  }

  .galleryPhoto figure {
    position: relative;
	height: 135px;
}
  
  .galleryPhoto img {
	max-width: 100%;
	height: 100%;
  }

  .galleryPhoto figure i {
    position: absolute;
    color: white;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 4px;
    background-color: black;
    border: none;
	border-radius: 5px;
}


.addPhoto {
	font-family: 'Syne';
	font-size: 16px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 240px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	height: 40px;
	cursor: pointer;
}

